

<!DOCTYPE html>
<html lang="zxx">

<head>
	<title>Blood Bank</title>
	<!-- Meta tag Keywords -->
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<meta charset="UTF-8" />
	<meta name="keywords" content="Medic Responsive web template, Bootstrap Web Templates, Flat Web Templates, Android Compatible web template, Smartphone Compatible web template, free webdesigns for Nokia, Samsung, LG, SonyEricsson, Motorola web design" />
	<script>
		addEventListener("load", function () {
			setTimeout(hideURLbar, 0);
		}, false);

		function hideURLbar() {
			window.scrollTo(0, 1);
		}
	</script>
	<!--// Meta tag Keywords -->
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
	<!-- Custom-Files -->
	<link rel="stylesheet" href="../static/css/bootstrap.css">
	<!-- Bootstrap-Core-CSS -->
	<link rel="stylesheet" href="../static/css/style.css" type="text/css" media="all" />
	<!-- Style-CSS -->
	<link rel="stylesheet" href="../static/css/fontawesome-all.css">
	<!-- Font-Awesome-Icons-CSS -->
	<!-- //Custom-Files -->

	<!-- Web-Fonts -->
	<link href="//fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i,800,800i&amp;subset=cyrillic,cyrillic-ext,greek,greek-ext,latin-ext,vietnamese"
	    rel="stylesheet">
	<link href="//fonts.googleapis.com/css?family=Roboto+Condensed:300,300i,400,400i,700,700i&amp;subset=cyrillic,cyrillic-ext,greek,greek-ext,latin-ext,vietnamese"
	    rel="stylesheet">
	<!-- //Web-Fonts -->

</head>

<body>
	<!-- header -->
	<header>
		<!-- top-bar -->
		{% with messages = get_flashed_messages(with_categories=true) %}
		<!-- Categories: success (green), info (blue), warning (yellow), danger (red) -->
		{% if messages %}
		  {% for category, message in messages %}
			<div class="alert alert-{{ category }} alert-dismissible" role="alert" style="font-size: 1.5rem;">
			<button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
			<!-- <strong>Title</strong> --> {{ message }}
			</div>
		  {% endfor %}
		{% endif %}
	  {% endwith %}
	</header>
	<!-- //top-bar -->

	<!-- header 2 -->
	<div id="home">
		<!-- navigation -->
		<div class="main-top py-1">
			<nav class="navbar navbar-expand-lg navbar-light fixed-navi">
				<div class="container">
					<!-- logo -->
					<h1>
						<a class="navbar-brand font-weight-bold font-italic" href="index.html">
							<span>Blood</span>Bank
						</a>
					</h1>
					<!-- //logo -->
					<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
					    aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
						<span class="navbar-toggler-icon"></span>
					</button>
					<div class="collapse navbar-collapse text-center" id="navbarSupportedContent">
						<ul class="navbar-nav ml-lg-auto">
							<li class="nav-item active mx-lg-3 my-lg-0 my-3">
								<a class="nav-link" href="/">Home
									<span class="sr-only">(current)</span>
								</a>
							</li>
							<li class="nav-item mx-lg-3 my-lg-0 my-3">
									<a class="nav-link" href="#about">About</a>
								</li>
							
							<li class="nav-item mx-lg-3 my-lg-0 my-3">
								<a class="nav-link" href="#gallery">Gallery</a>
                            </li>
                            <li class="nav-item mx-lg-3 my-lg-0 my-3">
                                    <a class="nav-link" href="/notificationuser">Notification</a>
                            </li>
							
							<li class="nav-item mx-lg-3 my-lg-0 my-3">
								<a class="nav-link" href="#camp">Camps</a>
							</li>
							<li class="nav-item mx-lg-3 my-lg-0 my-3">
								<a class="nav-link" href="/hospitalview">Hospitals</a>
							</li>
							<li class="nav-item mx-lg-3 my-lg-0 my-3">
								<a class="nav-link" href="/account/{{current_user.id}}">{{current_user.name}}</a>
							</li>
							<li class="nav-item mx-lg-3 my-lg-0 my-3">
								<a class="nav-link" href="#contact">Contact Us</a>
							</li>
						</ul>
						<!-- logout -->
						<a href="/logout" class="btn btn-info btn-lg" style="background-color: black;border-color: black;">
							<span class="glyphicon glyphicon-log-out"></span> Log out
						  </a>

						<!-- //login -->
					</div>
				</div>
			</nav>
		</div>

	
	<!-- banner -->
	<div class="slider">
		<div class="callbacks_container">
			<ul class="rslides callbacks callbacks1" id="slider4" >
				<li>
					<div class="banner-top1">
						<div class="banner-info_agile_w3ls" style="padding-top: 150px;">
							<div class="container">
								<h3>Welcome {{current_user.name}}</h3>
								<p class="mt-3 mb-md-5 mb-3">   </p>
								<!-- <a href="#">Read More
									<i class="fa fa-caret-right ml-2" aria-hidden="true"></i>
								</a> -->
							</div>
						</div>
					</div>
				</li>
				<li>
					<div class="banner-top2">
						<div class="banner-info_agile_w3ls" style="padding-top: 150px;">
							<div class="container">
								<h3>Welcome Users</h3>
								<p class="mt-3 mb-md-5 mb-3">   </p>
								<!-- <a href="about.html">Read More
									<i class="fa fa-caret-right ml-2" aria-hidden="true"></i>
								</a> -->
							</div>
						</div>
					</div>
				</li>
				<li>
					<div class="banner-top3">
						<div class="banner-info_agile_w3ls" style="padding-top: 150px;">
							<div class="container">
								<h3>The Hospital of the future, today</h3>
								<p class="mt-3 mb-md-5 mb-3">sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad
									minim veniam, quis nostrud exercitation
									ullamco.</p>
								<a href="about.html">Read More
									<i class="fa fa-caret-right ml-2" aria-hidden="true"></i>
								</a>
							</div>
						</div>
					</div>
				</li>
			</ul>
		</div>
	</div>

	<!-- middle section -->
	<div class="w3ls-welcome py-5">
		<div class="container py-xl-5 py-lg-3">
			<div class="row" style="padding-top: 20px;">
				<div class="col-lg-5 welcome-right">
					<img src="../static/images/b2.png" alt=" " class="img-fluid">
				</div>
				<div class="col-lg-7 welcome-left mt-4">
					<h3>Awesome Theme for Medical and Health Websites</h3>
					<h6 class="mt-3">Suspendisse porta erat sit amet eros sagittis</h6>
					<h4 class="my-4 font-italic">Cum sociis natoque penatibus et magnis dis parturient montesmus, Proin vel nibh et
						elit mollis commodo et nec augue
						tristique sed.</h4>
					<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse porta erat sit amet eros sagittis, quis
						hendrerit
						libero aliquam. Fusce semper augue ac dolor efficitur, a pretium metus pellentesque.</p>
					<div class="readmore-w3-agileits mt-md-5 mt-4">
						<a href="single.html" class="w3ls-button-agile text-dark">View Some More</a>
					</div>
				</div>
			</div>
		</div>
	</div>

	<!-- about -->
	<section class="about py-lg-4 py-md-3 py-sm-3 py-3" id="about">
			<div class="container py-xl-5 py-lg-3">
				<div class="w3ls-titles text-center mb-md-5 mb-4">
					<h3 class="title">About Us</h3>
					<span>
						<i class="fas fa-user-md"></i>
					</span>
				</div>
				<p class="aboutpara text-center mx-auto">Maecenas ac euismod eros. Aliquam a suscipit nibh. Aliquam iaculis erat
					porta mauris fermentum lacinia. Donec posuere
					a massa sit amet sagittis. Nam ut nulla a ligula dictum imperdiet nec ut mauris. Etiam ipsum ipsum, ultrices id
					nisi
					ac, pretium efficitur ex. Vestibulum a maximus magna, sit amet ultrices nisi. In laoreet placerat turpis.</p>
	
				<div class="row about_grids mt-5">
					<div class="col-lg-4">
						<img src="..//static/images/blog1.jpg" alt="" class="img-fluid" />
						<h3 class="mt-3 text-dark">Aliquam iaculis erat porta </h3>
						<p class="my-3">Nam ut nulla a ligula dictum imperdiet nec ligula dictum imperdiet nec</p>
						<a href="single.html">Read More</a>
					</div>
					<div class="col-lg-4 my-lg-0 my-5">
						<img src="..//static/images/blog2.jpg" alt="" class="img-fluid" />
						<h3 class="mt-3 text-dark">Aliquam iaculis erat porta </h3>
						<p class="my-3">Nam ut nulla a ligula dictum imperdiet nec ligula dictum imperdiet nec</p>
						<a href="single.html">Read More</a>
					</div>
					<div class="col-lg-4">
						<img src="..//static/images/blog3.jpg" alt="" class="img-fluid" />
						<h3 class="mt-3 text-dark">Aliquam iaculis erat porta </h3>
						<p class="my-3">Nam ut nulla a ligula dictum imperdiet nec ligula dictum imperdiet nec</p>
						<a href="single.html">Read More</a>
					</div>
					
				</div>
			</div>
		</section>


	<!-- gallery -->
	<section class="gallery py-lg-4 py-md-3 py-sm-3 py-3" id="gallery">
	<div class="gallery py-5">
			<div class="container py-xl-5 py-lg-3">
				<div class="w3ls-titles text-center mb-5">
					<h3 class="title">Gallery</h3>
					<span>
						<i class="fas fa-user-md"></i>
					</span>
					<p class="mt-2">Sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
				</div>
				<section>
                        <ul id="da-thumbs" class="da-thumbs">
                                {% for gallery in gallery %}
                                <li style="width: 240px;">
                                    <a href="static/picture/{{gallery.img}}" rel="" class="b-link-stripe b-animate-go  thickbox" title="Medic" style="height: 240px;width:240px ;">
                                        <img src="static/picture/{{gallery.img}}" alt="" class="img-fluid" style="height: 240px;width:240px ;">
                                        <div >
                                            <h5>{{gallery.name}}</h5>
                                            <!-- <span>Sed ut perspiciatis unde omnis iste natus error sit</span> -->
                                        </div>
                                    </a>
                                </li>
                                {% endfor %}
                            </ul>
                </section>
			</div>
		</div>
</section>


	<!-- blog -->
	<section class="blog py-lg-4 py-md-3 py-sm-3 py-3" id="camp">
	<div class="blog-w3ls py-5">
		<div class="container py-xl-5 py-lg-3">
			<div class="w3ls-titles text-center mb-5">
				<h3 class="title text-white">Comming Camps</h3>
				<span>
					<i class="fas fa-user-md text-white"></i>
				</span>
				<p class="mt-2 text-white">Sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
			</div>
			<div class="row">
				{% for camp in camp %}
				<div class="col-md-4 pricing" style="padding-top: 20px;" >
					<div class="price-top"  >
						<a href="">
							<img  src="/static/picture/{{camp.image}}" alt=""   class="img-fluid" style="width:390.98px;height:204px;">
						</a>
						<h3>{{camp.date}}
						</h3>
					</div>
					<div class="price-bottom p-4">
						<h4 class="text-dark mb-3">{{camp.description}}</h4>
						
							<i class="fas fa-phone" style="font-size: 18px;">: {{camp.mobile}}</i>
							<br>
							
								<i class="fas fa-map-marker" style="font-size: 18px;">: {{camp.place}}</i>
					</div>
					
				</div>
				{%endfor%}
				
			</div>
		</div>
	</div>
</div>
</section>



	<!-- contact -->

	<section class="contact py-lg-4 py-md-3 py-sm-3 py-3" id="contact">
			<div class="col-lg-7 contact-right-w3l" style="font-size: 1.4rem;">
				
				<h5 class="title-w3 text-center mb-5" style="width: 1167px;">Get In Touch</h5>
				<center>
				<form action="" method="POST" style="width: 1050px; padding-left: 180px;">
					<div class="d-flex space-d-flex">
						<div class="form-group grid-inputs">
							<input type="text" class="name form-control" name="Name" placeholder="Name" required="">
						</div>
						<div class="form-group grid-inputs">
							<input type="text" class="name form-control" name="Phone" placeholder="Phone Number" required="">
						</div>
					</div>
					<div class="form-group">
						<input type="email" class="name form-control" name="Email" placeholder="Email" required="">
					</div>
					<div class="form-group">
						<input type="text" class="name form-control" name="Subject" placeholder="Subject" required="">
					</div>
	
					<div class="form-group">
						<textarea placeholder="Your Message" required="" name="Message"class="form-control"></textarea>
					</div>
					<div class="form-group">
						<input type="submit" value="Send Message">
					</div>
				</form>
			</center>
			</div>
	
		</section>
	<!-- footer -->




	
	<footer style="
    margin-top: 600px;
">
		<div class="w3ls-footer-grids pt-sm-4 pt-3">
			<div class="container py-xl-5 py-lg-3">
				<div class="column">
					<div class="col-md-4 w3l-footer">
						<h2 class="mb-sm-3 mb-2">
							<a href="index.html" class="text-white font-italic font-weight-bold">
								<span>Blood</span>Bank
								<i class="fas fa-syringe ml-2"></i>
							</a>
						</h2>
						<p>Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem
							aperiam,
							eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo.</p>
					</div>
					<div class="col-md-4 w3l-footer my-md-0 my-4">
						<h3 class="mb-sm-3 mb-2 text-white">Address</h3>
						<ul class="list-unstyled">
							<li>
								<i class="fas fa-location-arrow float-left"></i>
								<p class="ml-4">The company name
									<span>Lorem ipsum dolor,</span>New York,Morris Park. </p>
								<div class="clearfix"></div>
							</li>
							<li class="my-3">
								<i class="fas fa-phone float-left"></i>
								<p class="ml-4">1234567890</p>
								<div class="clearfix"></div>
							</li>
							<li>
								<i class="far fa-envelope-open float-left"></i>
								<a href="mailto:info@example.com" class="ml-3">mail@example.com</a>
								<div class="clearfix"></div>
							</li>
						</ul>
					</div>
					<div class="col-md-4 w3l-footer">
						<h3 class="mb-sm-3 mb-2 text-white">Quick Links</h3>
						<div class="nav-w3-l">
							<ul class="list-unstyled">
								<li>
									<a href="index.html">Home</a>
								</li>
								<li class="mt-2">
									<a href="about.html">About Us</a>
								</li>
								<li class="mt-2">
									<a href="gallery.html">Gallery</a>
								</li>
								<li class="mt-2">
									<a href="contact.html">Contact Us</a>
								</li>
							</ul>
						</div>
					</div>
				</div>
				<div class="border-top mt-5 pt-lg-4 pt-3 pb-lg-0 pb-3 text-center">
					<p class="copy-right-grids mt-lg-1">© 2018 Medic. All Rights Reserved | Design by
						<a href="https://w3layouts.com/" target="_blank">W3layouts</a>
					</p>
				</div>
			</div>
		</div>
	</footer>

	<!-- //footer -->
</html>




	<!-- Js files -->
	<!-- JavaScript -->
	<script src="../static/js/jquery-2.2.3.min.js"></script>
	<!-- Default-JavaScript-File -->

	<!-- banner slider -->
	<script src="../static/js/responsiveslides.min.js"></script>
	<script>
		$(function () {
			$("#slider4").responsiveSlides({
				auto: true,
				pager: true,
				nav: true,
				speed: 1000,
				namespace: "callbacks",
				before: function () {
					$('.events').append("<li>before event fired.</li>");
				},
				after: function () {
					$('.events').append("<li>after event fired.</li>");
				}
			});
		});
	</script>
	<!-- //banner slider -->

	<!-- fixed navigation -->
	<script src="../static/js/fixed-nav.js"></script>
	<!-- //fixed navigation -->

	<!-- smooth scrolling -->
	<script src="../static/js/SmoothScroll.min.js"></script>
	<!-- move-top -->
	<script src="../static/js/move-top.js"></script>
	<!-- easing -->
	<script src="../static/js/easing.js"></script>
	<!--  necessary snippets for few javascript files -->
	<script src="../static/js/medic.js"></script>

	<script src="../static/js/bootstrap.js"></script>
	<!-- Necessary-JavaScript-File-For-Bootstrap -->
<!-- Gallery-js -->
<script src="../static/js/modernizr.custom.97074.js"></script>
<script src="../static/js/jquery.hoverdir.js"></script>
<script>
	$(function () {

		$(' #da-thumbs > li ').each(function () {
			$(this).hoverdir();
		});

	});
</script>

<script src="../static/js/jquery.chocolat.js"></script>
<link rel="stylesheet" href="../static/css/chocolat.css" type="text/css">
<!--light-box-files -->
<script>
	$(function () {
		$('.da-thumbs a').Chocolat();
	});
</script>
<!-- Gallery-js -->
	<!-- //Js files -->

</body>

</html>